<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uytube.web.classes.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ValidarModificarVideoServlet</servlet-name>
        <servlet-class>uytube.web.classes.ValidarModificarVideoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarModificarVideoServlet</servlet-name>
        <url-pattern>/ValidarModificarVideoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ValidarUsuarioServlet</servlet-name>
        <servlet-class>uytube.web.classes.ValidarUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarUsuarioServlet</servlet-name>
        <url-pattern>/ValidarUsuarioServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ValidarVideoServlet</servlet-name>
        <servlet-class>uytube.web.classes.ValidarVideoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarVideoServlet</servlet-name>
        <url-pattern>/ValidarVideoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AltaVideoServlet</servlet-name>
        <servlet-class>uytube.web.classes.AltaVideoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AltaVideoServlet</servlet-name>
        <url-pattern>/AltaVideoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BuscarServlet</servlet-name>
        <servlet-class>uytube.web.classes.BuscarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarServlet</servlet-name>
        <url-pattern>/BuscarServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModificarVideoServlet</servlet-name>
        <servlet-class>uytube.web.classes.ModificarVideoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificarVideoServlet</servlet-name>
        <url-pattern>/ModificarVideoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uytube.web.classes.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrarServlet</servlet-name>
        <servlet-class>uytube.web.classes.RegistrarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarServlet</servlet-name>
        <url-pattern>/RegistrarServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ValidarRegistroServlet</servlet-name>
        <servlet-class>uytube.web.classes.ValidarRegistroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarRegistroServlet</servlet-name>
        <url-pattern>/ValidarRegistroServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResponderComentarioServlet</servlet-name>
        <servlet-class>uytube.web.classes.ResponderComentarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponderComentarioServlet</servlet-name>
        <url-pattern>/ResponderComentarioServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResponderRespuestaServlet</servlet-name>
        <servlet-class>uytube.web.classes.ResponderRespuestaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponderRespuestaServlet</servlet-name>
        <url-pattern>/ResponderRespuestaServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NuevoComentarioServlet</servlet-name>
        <servlet-class>uytube.web.classes.NuevoComentarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NuevoComentarioServlet</servlet-name>
        <url-pattern>/NuevoComentarioServlet</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
